.btn-gold-slider {
  @include pos-absolute(49%, 40px, auto, auto);

  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: url("/src/img/arrow.svg") $color-gold no-repeat center center;
  box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
  transform: translateY(-49%);
  z-index: 1;
  padding: 0;
  border: none;
  font-size: 0;
  cursor: pointer;

  @include for-phone-only {
    right: 13px;
    width: 36px;
    height: 36px;
  }


  &--prev {
    display: none;
    right: auto;
    left: 40px;
    transform: translateY(-49%) scale(-1, 1);

    @include to-tablet-landscape-up {
      left: 13px;
      display: block;
    }
  }
}
