.btn {
  display: inline-block;
  max-width: 100%;
  padding: 13px 33px;
  font-family: "FuturaDemiC";
  background-color: $color-gold;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  border-radius: 2px;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  word-break: break-all;

  &:hover,
  &:focus {
    background-color: rgba(227, 184, 115, 0.9);
  }

  &--transparent {
    padding: 18px 21px;
    border: 1px solid #ffffff;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: 0 0 5px #ffffff;
    }
  }

  &--play {
    border-radius: 50%;
    border: none;
    background-color: $color-gold;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    font-size: 0;
  }
}
