@font-face {
  font-family: 'FuturaDemiC';
  font-display: swap;
	src: url('/src/fonts/FuturaDemiC/futurademic.eot');
	src: url('/src/fonts/FuturaDemiC/futurademic.eot?#iefix') format('embedded-opentype'),
		url('/src/fonts/FuturaDemiC/futurademic.woff2') format('woff2'),
		url('/src/fonts/FuturaDemiC/futurademic.woff') format('woff'),
		url('/src/fonts/FuturaDemiC/futurademic.ttf') format('truetype'),
		url('/src/fonts/FuturaDemiC/futurademic.svg#futurademic') format('svg');
}

@font-face {
  font-family: 'FuturaBookC';
  font-display: swap;
	src: url('/src/fonts/FuturaBookC/futurabookc.eot');
	src: url('/src/fonts/FuturaBookC/futurabookc.eot?#iefix') format('embedded-opentype'),
		url('/src/fonts/FuturaBookC/futurabookc.woff2') format('woff2'),
		url('/src/fonts/FuturaBookC/futurabookc.woff') format('woff'),
		url('/src/fonts/FuturaBookC/futurabookc.ttf') format('truetype'),
		url('/src/fonts/FuturaBookC/futurabookc.svg#futurabookc') format('svg');
}

@font-face {
  font-family: 'FuturaMediumC';
  font-display: swap;
	src: url('/src/fonts/FuturaMediumC/futuramediumc.eot');
	src: url('/src/fonts/FuturaMediumC/futuramediumc.eot?#iefix') format('embedded-opentype'),
		url('/src/fonts/FuturaMediumC/futuramediumc.woff2') format('woff2'),
		url('/src/fonts/FuturaMediumC/futuramediumc.woff') format('woff'),
		url('/src/fonts/FuturaMediumC/futuramediumc.ttf') format('truetype'),
		url('/src/fonts/FuturaMediumC/futuramediumc.svg#futuramediumc') format('svg');
}

@font-face {
  font-display: swap;
	font-family: 'YesevaOne';
  src: url('/src/fonts/YesevaOne/yesevaone.ttf') format('truetype');
  src: url('/src/fonts/YesevaOne/yesevaone.woff2') format('woff2'),
		  url('/src/fonts/YesevaOne/yesevaone.woff') format('woff'),
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/src/fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
  url('/src/fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
