@mixin pos-absolute($top: 0, $right: auto, $bottom: auto, $left: 0) {
  position: absolute;
  content: "";
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin title-block {
  margin: 0;
  padding: 0;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: $base-silver;

  @include for-phone-only {
    font-size: 15px;
    line-height: 21px;
  }
}

@mixin block-width($width) {
  width: (($width / 1236) * 100%);
}

@mixin wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $desktop-width;
}

@mixin clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
