$font-famaly: "FuturaBookC", "Arial";

$color-gold: #e3b873;
$base-silver: #363636;
$silver-light: #959595;
$black-title: #181818;
$black-background: #131313;
$black-light: #252525;

$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1276px;

$bar-width: 30px;
$bar-height: 2px;
$bar-spacing: 10px;
