.down {
  animation: scroll-anim 0.2s linear alternate;
  animation-iteration-count: 4;
}

.fade-in {
  animation: fade-in 0.4s ease-in;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fade-out  0.4s ease-in;
  animation-fill-mode: forwards;
}

@keyframes scroll-anim {
  100% {
    transform: translateY(5px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}
