.feedback-form-min {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 62%;

  @include to-tablet-landscape-up {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  @include for-desktop-up {
    justify-content: space-between;
  }

  &__group {
    width: 100%;
    max-width: 230px;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 30px;

    @include for-phone-only {
      width: 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 60px;
    }

    @include for-tablet-landscape-up {
      input {
        color: $base-silver;
      }

      label {
        color: $black-title;
      }
    }

    &:nth-last-of-type(2) {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  &__group--checkbox {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    line-height: 22px;

    @include for-phone-only {
      width: 100%;
      margin-top: 26px;
      margin-right: 0;
      margin-bottom: 60px;
    }

    @include for-desktop-up {
      max-width: 300px;
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      color: $black-title;
      order: 4;
    }
  }

  &__button {
    padding: 13px 75px;
    font-size: 15px;
    line-height: 26px;
    text-align: center;

    @include for-phone-only {
      width: 100%;
      margin-bottom: -26px;
      order: 4;
    }

    @include for-desktop-up {
      margin-top: 0;
    }
  }
}
