.feedback-form-call {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 50px 26px 50px;
  background: url("/src/img/bg-line.png") $black-background no-repeat;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  color: #ffffff;

  @include for-phone-only {
    padding: 15px 30px 30px 30px;
  }

  &__title {
    max-width: 290px;
    margin-right: auto;
    margin-bottom: 45px;
    margin-left: auto;
    font-family: "FuturaDemiC";
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    @include for-phone-only {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__group {
    width: 100%;
    max-width: 100%;
    margin-bottom: 53px;

    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }

    &--checkbox {
      margin-top: 18px;
      margin-bottom: 35px;
    }

    @include for-phone-only {
      margin-bottom: 35px;
    }

    .input {
      &::placeholder {
        color: #ffffff;
      }
    }
  }

  &__button {
    margin-left: auto;
    padding: 19px 45px;
  }

  .input-label {
    color: rgba(255, 255, 255, 0.5);
  }
}
