.banner {

  @include for-phone-only {
    padding-left: 80px;
  }

  &__text {
    position: relative;
    width: 70%;
    max-width: 350px;
    margin: 0;
    font-family: "FuturaDemiC";
    font-size: 20px;
    line-height: 25px;
    color: $color-gold;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);

    &::before {
      @include pos-absolute(50%, auto, auto, -40%);

      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: $color-gold;
      transform: translateY(-50%);
    }

    &::after {
      @include pos-absolute(50%, auto, auto, -40%);

      width: 72px;
      height: 72px;
      background: url("/src/img/pig.svg") no-repeat center center;
      transform: translateY(-50%);
    }

    @include for-phone-only {
      width: auto;

      &::before,
      &::after {
        left: -33%;
      }

      &::before {
        width: 55px;
        height: 55px;
      }

      &::after {
        width: 55px;
        height: 55px;
        background-size: 30px 30px;
      }
    }
  }
}
