.checkbox-block {
  position: relative;
  max-width: none;
  width: auto;

  &__label {
    position: static;
    padding-left: 27px;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;

    &::before {
      @include pos-absolute(0, auto, auto, 0);

      width: 18px;
      height: 18px;
      border: 2px solid $color-gold;
      border-radius: 2px;
    }
  }

  &__checkbox:checked + &__label {
    &::before {
      background: url("/src/img/check.svg") $color-gold no-repeat center center;
    }
  }
}
