.client {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);

  @include for-phone-only {
    width: 100%;
  }

  @include for-tablet-portrait-up {
    width: 100%;
  }

  @include for-desktop-up {
    @include block-width(376);
  }

  &__info-block {
    padding: 20px 32px 85px 20px;

    @include for-phone-only {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__photo {
    margin-right: 25px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;

    @include for-phone-only {
      width: 55px;
      height: 55px;
    }
  }

  &__fio {
    max-width: 180px;
    margin: 0;
    font-family: "YesevaOne";
    font-size: 18px;
    line-height: 23px;
    color: $black-title;
  }

  &__review-text {
    margin: 0;
    margin-top: 20px;
    font-size: 15px;
    line-height: 27px;
    text-transform: unset;
    color: $silver-light;
  }
}
