.clients {
  @include clear-list;

  padding-bottom: 80px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;

  &__item {
    margin-right: 15px;
    margin-bottom: 50px;
  }
}
