.contact {
  display: flex;
  align-items: center;
  margin-left: 25px;

  @include for-phone-only {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    padding: 15px 50px;
    text-align: center;
    background-color: $black-light;
  }

  &__address {
    font-style: normal;
  }

  &__tel {
    font-family: "FuturaDemiC", "Roboto";
    font-size: 12px;
    line-height: 14px;

    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.7);
    }

    @include for-tablet-portrait-up {
      font-size: inherit;
      line-height: inherit;
      color: $color-gold;
      border-bottom: 1px solid;

      &:hover,
      &:focus {
        color: rgba(227, 184, 115, 0.7);
      }
    }
  }

  &__link-request {
    max-width: 161px;
    margin-left: 40px;
    padding: 11px 33px;

    @include for-phone-only {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
    }

    @include for-tablet-portrait-up {
      display: block;
    }
  }
}
