.container {
  @include wrapper;

  width: 100%;

  &--promo {
    @include for-tablet-portrait-up {
      margin: 0;
      padding: 0;
      padding-left: 60px;
    }
  }

  &--header {
    @include for-phone-only {
      padding: 0;
    }
  }
}
