.created-projects {
  min-height: auto;
  padding-top: 36px;
  padding-bottom: 30px;
  background-color: $black-light;

  @include for-tablet-portrait-up {
    padding-top: 104px;
  }

  @include for-desktop-up {
    background: url("/src/img/background-line-project.png") 0 -250px no-repeat, url("/src/img/city-bg-1.png") $black-background repeat-x bottom
    left;

    background-size: cover, 700px;
  }

  @include for-tablet-landscape-up {
    padding-bottom: 350px;
  }
}
