.design-project {
  padding-top: 155px;
  padding-bottom: 100px;
  background-color: $black-light;

  @include for-phone-only {
    // padding-top: 30px;
    padding-bottom: 30px;
  }

  @include to-tablet-landscape-up  {
    padding-top: 175px;
  }

  @include for-desktop-up {
    background-color: #ffffff;
  }

  &__text {
    @include block-width(763);

    margin: 20px auto 47px;
    font-family: "FuturaBookC";
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;

    @include for-phone-only {
      width: 100%;
    }

    @include for-desktop-up {
      color: $base-silver;
    }
  }
}
