.gallary-slider {
  max-height: 68vw;

  @include for-desktop-up {
    overflow: visible;
    max-height: none;
  }

  &__slide {
    @include for-desktop-up {
      display: inline-block;
      width: 47% !important;
      height: auto !important;
      max-width: 354px !important;
      margin-bottom: 40px;

      &:nth-child(1) {
        margin-top: 75px;
      }
    }

    @include to-tablet-landscape-up  {
      width: 100% !important;
    }
  }

  &__wrapper {
    @include for-desktop-up {
      display: block;
      transform: none !important;
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-height: 625px;
    margin-bottom: 44px;
    object-fit: cover;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button-prev,
  &__button-next {
    display: block;

    @include for-desktop-up {
      display: none;
    }
  }
}
