.gold-title {
  margin: 0;
  font-family: "YesevaOne";
  font-size: 25px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-gold;
  word-break: break-all;

  &--slide-title {
    @include for-desktop-up {
      position: relative;

      &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        margin-right: -100%;
        margin-left: 40px;
        width: 90px;
        height: 1px;
        background-color: $color-gold;
      }
    }
  }
}
