.hamburger-menu {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  @include for-phone-only {
    @include pos-absolute(2px, 10px, auto, auto);

    display: flex;
  }
}
.hamburger-menu__line {
  fill: none;
  stroke: $color-gold;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger-menu__line--line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.hamburger-menu__line--line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.hamburger-menu__line--line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .hamburger-menu__line--line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .hamburger-menu__line--line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .hamburger-menu__line--line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
