.header-menu {
  @include for-phone-only {
    width: 100%;
    order: 3;
  }

  @include for-desktop-up  {
    width: 77.75%;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include for-phone-only {
      @include pos-absolute(52px, auto, auto, 0);

      max-height: 0;
      overflow: hidden;
      background-color: $black-background;
      transition: height 1s linear;
      z-index: 2;
    }
  }

  // &__toggle {
  //   display: none;

  //   @include for-phone-only {
  //     @include pos-absolute(10px, 20px, auto, auto);

  //     display: block;
  //     padding: 0;
  //     width: 30px;
  //     height: 30px;
  //     border: none;
  //     background-color: transparent;
  //     cursor: pointer;
  //   }
  // }

  // &.header-menu--closed .header-menu__toggle::before {
  //   @include pos-absolute(8px, auto, auto, 0);

  //   width: 100%;
  //   height: 2px;
  //   border: 3px;
  //   background-color: $color-gold;
  //   box-shadow: 0 8px 0 $color-gold, 0 16px 0 $color-gold;
  // }

  // &.header-menu--open .header-menu__toggle {
  //   &::before,
  //   &::after {
  //     @include pos-absolute(0, auto, auto, 14px);

  //     width: 2px;
  //     height: 30px;
  //     border: 3px;

  //     background-color: $color-gold;
  //   }

  //   &::before {
  //     transform: rotate(45deg);
  //   }

  //   &::after {
  //     transform: rotate(-45deg);
  //   }
  // }

  &--open .header-menu__content {
    @include for-phone-only {
      display: block;
      animation: openMenu 1s linear;
      animation-fill-mode: forwards;
    }
  }

  &--nojs .header-menu__content {
    @include for-phone-only {
      top: 25px;
      display: block;
      position: relative;
      margin-top: 0;
      max-height: 100vh;
      animation: none;
    }
  }

  &--nojs .header-menu__toggle {
    @include for-phone-only {
      display: none;
    }
  }
}

.close-animate {
  animation: closeMenu 0.5s linear;
}


@keyframes openMenu {
  from {
    max-height: 0;
  }

  to {
    max-height: 1500px;
  }
}

@keyframes closeMenu {
  from {
    max-height: 1500px;
  }

  to {
    max-height: 0;
  }
}
