.info-project-lists {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  @include for-tablet-portrait-up  {
    width: 75%;
  }

  @include for-tablet-landscape-up {
    width: auto;
  }

  &__item {
    width: 39%;
    max-width: 200px;
    margin-right: 3.95%;
    margin-bottom: 34px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    @include to-tablet-landscape-up {
      width: 42%;
    }

    @include for-tablet-landscape-up {
      width: 45%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 25px;

    @include for-phone-only {
      font-size: 14px;
    }
  }

  &__text {
    margin: 0;
    padding-right: 33.5%;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;

    @include for-phone-only {
      font-size: 14px;
    }
  }
}
