.info-work {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  width: 85%;

  @include for-phone-only {
    width: 100%;
  }

  &__item {
    position: relative;
    padding: 15px 17px 15px 65px;
    font-family: "YesevaOne";
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
    text-transform: uppercase;
    background-color: $color-gold;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);

    @include for-phone-only{
      padding: 15px 17px 15px 50px;
    }

    &:last-child {
      border: none;
    }

    &::before {
      @include pos-absolute(50%, auto, auto, 20px);

      width: 32px;
      height: 32px;

      transform: translateY(-50%);

      @include for-phone-only {
        left: 10px;
      }
    }

    &--value {
      &::before {
        background: url("/src/img/area.svg") no-repeat center center;
      }
    }

    &--days {
      &::before {
        background: url("/src/img/calendar.svg") no-repeat center center;
      }
    }
  }
}
