.input-group {
  position: relative;
  color: $base-silver;
  word-break: break-all;

  @include for-phone-only {
    color: #ffffff;
  }

  &__label {
    max-width: 100%;
    word-break: break-all;
  }

  &__input {
    &:nth-last-of-type(2) {
      margin-bottom: 15px;
    }
  }
}
