.input {
  width: 100%;
  max-width: 100%;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  background: transparent;
  font-size: 18px;
  line-height: 24px;
  color: $base-silver;

  &::placeholder {
    color: #ffffff;
  }

  @include to-tablet-landscape-up {
    color: #ffffff;
  }

  @include for-tablet-landscape-up {
    &::placeholder {
      color: $base-silver;
    }
  }

  &--white {
    color: #ffffff;

    &::placeholder {
      color: #ffffff;
    }
  }
}
