.list-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 30px;

  &__item {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 300px;
    margin-right: 2.42%;
    margin-bottom: 50px;

    @include for-phone-only {
      min-width: auto;
      margin-right: 0;
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include for-tablet-portrait-up {
      width: 70%;
      margin: 0 auto;
    }

    @media (min-width: 900px) and (max-width: 1200px) {
      width: 47%;
      margin: 0;
    }

    @include for-desktop-up {
      @include block-width(392);
      margin: 0;

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

  }

  &__image {
    width: 100%;
    max-height: 420px;
    object-fit: cover;

    @include for-phone-only {
      height: auto;
    }
  }

  &__descrption {
    position: relative;
    width: 84%;
    margin: 0 auto;
    margin-top: -126px;
    padding-top: 25px;
    padding-right: 35px;
    padding-bottom: 60px;
    padding-left: 35px;
    background-color: #ffffff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

    @include for-phone-only {
      margin-left: 0;
      padding-top: 21px;
      padding-right: 31px;
      padding-bottom: 37px;
      padding-left: 31px;
    }
  }

  &__title {
    @include title-block;

    word-break: break-all;
    margin-bottom: 5px;
  }

  &__lists {
    @include clear-list;

    padding-left: 15px;
    list-style: disc;
  }

  &__price {
    position: relative;
    top: -30px;
    left: 7.65%;
    max-width: 240px;
    padding: 15px 21px;
    font-family: "YesevaOne";
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    background: $color-gold;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    color: #ffffff;

    @include for-phone-only {
      left: 0;
      font-size: 15px;
      line-height: 21px;
    }
  }

  &__price--design {
    padding: 15px 76px 15px 35px;
  }
}
