.online-controll {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 66px;

  @include for-phone-only {
    padding-bottom: 0;
  }

  @include for-tablet-landscape-up {
    margin-top: -328px;
  }

  @include to-tablet-landscape-up {
    background: $black-light;
  }

  &__title {
    color: #ffffff;
  }

  &__video-box {
    position: relative;
    width: 85%;
    min-height: 1px;
    margin-top: 30px;

    @include for-phone-only {
      width: 100%;
    }

    @include for-desktop-up {
      width: 66.1%;
    }
  }

  &__video {
    display: block;
    width: 100%;
    max-height: 434px;
    object-fit: cover;
    background: transparent url("/src/img/video-main-preview.png") 50% 50% /
      cover no-repeat;
  }

  &__button {
    @include pos-absolute(50%, auto, 0, 50%);

    width: 86px;
    height: 85px;
    transform: translate(-50%, -50%);
    background: url("/src/img/play.svg") $color-gold no-repeat 35px 30px;

    @include for-phone-only {
      width: 38px;
      height: 38px;
      padding: 0;
      background-position: 14px 14px;
      background-size: 12px 12px;
    }
  }

  &__text {
    width: 85%;

    position: relative;
    margin-top: 89px;
    margin-bottom: 100px;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    @include for-desktop-up {
      @include block-width(681);
    }

    &::before {
      @include pos-absolute(-30px, auto, auto, 50%);

      width: 55px;
      height: 2px;
      border-radius: 30px;
      background-color: $color-gold;
      transform: translateX(-50%);

      @include for-phone-only {
        top: -25px;
      }
    }

    @include for-phone-only {
      width: 100%;
      margin: 50px auto;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
    }

    @include to-tablet-landscape-up {
      color: #ffffff;
    }
  }
}

.online-controll,
.types-of-repair,
.project-stages {
  @include for-desktop-up {
    background: url("/src/img/background-line-online.png") 0 0 no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
