.our-team {
  padding-top: 88px;
  padding-bottom: 40px;

  @include for-phone-only {
    background-color: $black-light;
  }

  @include for-desktop-up {
    padding-top: 0;
    margin-top: -400px;
  }

  &__title {
    @include for-phone-only {
      font-size: 22px;
      line-height: 30px;
      color: #ffffff;
    }

    @include for-desktop-up {
      color: #ffffff;
    }
  }

  &__preview-text {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 23px;
    font-family: "FuturaBookC";
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: $base-silver;

    @include for-phone-only {
      font-size: 15px;
      line-height: 20px;
      color: #ffffff;
    }

    @include for-desktop-up {
      color: #ffffff;
    }
  }

  &__lists {
    @include clear-list;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 74px;

    @include for-phone-only {
      padding-left: 32px;
    }

    @include for-tablet-portrait-up {
      width: 82.83%;
    }
  }

  &__item {
    margin-right: 50px;
    margin-bottom: 72px;

    @include for-phone-only {
      margin-bottom: 90px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include to-tablet-landscape-up {
      margin-right: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    @include for-desktop-up {
      &:nth-child(2n) {
        margin-right: 50px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__text-block {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
    color: $base-silver;

    @include for-phone-only {
      display: none;
    }

    @include for-tablet-portrait-up  {
      width: 80%;
    }

    @include for-desktop-up {
      @include block-width(560);
    }

    &::before {
      @include pos-absolute(-30px, auto, auto, 50%);

      width: 55px;
      height: 2px;
      border-radius: 30px;
      background-color: $color-gold;
      transform: translateX(-50%);

    }
  }

  &__text {
    margin: 0;
  }
}
