.our-clients {
  padding-top: 40px;
  padding-bottom: 40px;

  &__preview-text {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    color: $black-light;
  }

  &__info-work.info-work {
    position: relative;
    top: -24px;
    margin-bottom: -54px;
  }
}
