.project-stages {
  padding-bottom: 30px;
  background: url("/src/img/city-stages-bg.png") no-repeat left -85px;

  @include for-tablet-portrait-up {
    padding-bottom: 100px;
  }

  @include for-desktop-up {
    padding-bottom: 254px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__lists {
    @include clear-list;

    position: relative;
    width: 41.01%;

    &::before {
      @include pos-absolute(50%, auto, auto, 18px);

      width: 2px;
      height: 99%;
      background-color: $color-gold;
      z-index: 0;
      transform: translateY(-50%);
    }

    li:last-child {
      .stage__number {
        align-self: flex-end;
      }
    }

    @include to-tablet-landscape-up {
      width: 100%;
      max-width: 505px;
      margin: 0 auto;
      margin-bottom: 70px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 70px;
    font-family: "FuturaMediumC";
    font-size: 18px;
    line-height: 21px;

    &:last-child {
      margin-bottom: 0;
    }

    @include to-tablet-landscape-up {
      display: flex;
      align-items: flex-start;
      width: 80%;
      margin-bottom: 50px;
    }
  }

  &__form {
    width: 50%;

    @include to-tablet-landscape-up {
      width: 100%;
      max-width: 505px;
      margin: 0 auto;
    }

    @include for-desktop-up {
      width: 41.01%;
    }
  }

  &__banner {
    display: flex;
    justify-content: center;
    max-width: 344px;
    margin: 0 auto;
    margin-top: 50px;
  }
}
