.promo {
  position: relative;
  display: flex;

  &__wrapper {
    width:100%;
    display:flex;

    @include for-phone-only {
      min-height: calc(100vh - 52px);
    }

    @include for-tablet-portrait-up  {
      min-height: calc(100vh - 85px);
    }
  }

  &__social-network-text {
    position: relative;
    margin: 0;
    font-family: "FuturaDemiC";
    color: $color-gold;
    transform: rotate(90deg);

    &::after {
      @include pos-absolute(50%, auto, auto, 88px);

      width: 51px;
      height: 2px;
      background-color: $color-gold;
      transform: translateY(-50%);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-grow:1;
    width: 100%;
    min-height: 707px;
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/src/img/header-preview.jpg") no-repeat center top;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);

    @include for-phone-only {
      min-height: 476px;
    }
  }

  &__title {
    max-width: 600px;
    margin: 0;
    font-family: "YesevaOne";
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #ffffff;

    @include for-phone-only {
      max-width: 339px;
      font-size: 23px;
      line-height: 35px;
    }
  }

  &__city-name {
    color: $color-gold;
  }

  &__text {
    max-width: 470px;
    margin: 0;
    margin-top: 20px;
    padding-right: 0;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;

    @include for-phone-only {
      max-width: 320px;
      margin-top: 15px;
      padding-right: 20px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 600px;
    margin-top: 42px;
  }

  &__link {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    @include for-tablet-portrait-up {
      width: auto;
      margin-right: 20px;
    }
  }

  &__link-calculate {
    padding: 18px 42px;
  }
}
