.scroll {
  @include pos-absolute(100%, auto, auto, 0);

  display: none;
  margin-top: -89px;
  font-family: "YesevaOne";
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  background-color: $black-background;
  text-transform: uppercase;
  z-index: 2;

  @include for-desktop-up {
    display: block;
  }

  &__link {
    display: block;
    max-width: 247px;
    padding: 30px 48px;
  }

  &__text {
    max-width: 110px;
  }

  &__text,
  &__icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    @include for-desktop-up {
      margin-left: 12px;
    }
  }
}
