.section-header {
  position: relative;
  width: 100%;

  &__title {
    margin: 0;
    margin-bottom: 12px;
    font-family: "YesevaOne";
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
  }

  &--white {
    color: #ffffff;

    @include for-desktop-up {
      color: $black-title;
    }
  }

  &__image {
    position: relative;
    width: 32px;
    height: 28px;
    margin: 0 auto;
    box-sizing: content-box;
    background: url('/src/img/cam.svg') transparent no-repeat center center;
    z-index: 2;

    &::before {
      @include pos-absolute(50%, auto, 0, -60%);

      width: 30px;
      height: 2px;
      background-color: $color-gold;
      transform: translate(-60%, -50%);
    }

    &::after {
      @include pos-absolute(50%, -60%, 0, auto);

      width: 30px;
      height: 2px;
      background-color: $color-gold;
      transform: translate(60%, -50%);
    }
  }

  &__image--repair {
    background: url('/src/img/repair.svg') transparent no-repeat center center;
  }

  &__image--design {
    background: url('/src/img/design.svg') transparent no-repeat center center;
  }

  &__image--team {
    background: url('/src/img/team.svg') transparent no-repeat center center;
  }

  &__image--clients {
    background: url('/src/img/clients.svg') transparent no-repeat center center;
  }
}
