.six-steps {
  display: none;
  min-height: 700px;
  padding-top: 100px;
  padding-bottom: 500px;
  background: url("/src/img/background-line-project.png") $black-background no-repeat 0 0;
  background-size: cover;

  @include for-phone-only {
    display: block;
    padding: 50px 0;
    background-color: $black-light;
  }

  @include for-desktop-up {
    display: block;
  }

  &__header {
    color: #ffffff;
    margin-bottom: -180px;

    @include for-phone-only {
      margin-bottom: 0;
    }
  }

  &__title {
    font-family: "FuturaDemiC";
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;

    @include for-phone-only {
      text-align: center;
    }
  }

  &__subtitle {
    max-width: 164px;
    margin-bottom: 92px;

    @include for-phone-only {
      margin: 0 auto;
      text-align: center;
    }
  }
}
