.slider-base {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @include for-tablet-landscape-up {
    margin-bottom: 90px;
  }

  .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;

    @include for-tablet-landscape-up {
      flex-wrap: nowrap;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__title {
      width: 60%;
      max-width: 253px;
      margin-bottom: 20px;
      overflow: hidden;

      @include for-phone-only {
        font-size: 20px;
        line-height: 28px;
      }

      @include to-tablet-landscape-up {
        max-width: 232px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }

    &__content {
      width: 100%;
      padding-bottom: 15px;

      @include for-tablet-landscape-up {
        @include block-width(441);

        max-width: 441px;
      }
    }

    &__description {
      margin: 0 auto;
      margin-bottom: 48px;
      font-size: 18px;
      line-height: 29px;
      color: #ffffff;

      @include to-tablet-landscape-up {
        text-align: center;
      }
    }
  }

}
