.slider-six-steps {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  &__title {
    margin-bottom: 18px;
    font-family: "FuturaDemiC";
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;

    @include for-phone-only {
      text-align: center;
    }
  }

  &__pagintaion-top {
    margin-bottom: 8px;
    text-align: left;

    span {
      font-family: "YesevaOne";
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;
      border-bottom: 1px solid $color-gold;
    }

    a {
      display: block;
      width: auto;
      margin-top: 15px;
      font-size: 15px;
      line-height: 18px;
    }
  }
}
