.slider-gallary {
  align-self: flex-end;
  margin: 0;
  max-height: 482px;
  width: 63% !important;

  @include to-tablet-landscape-up {
    width: 100% !important;
  }

  .swiper-slide {
    @include for-phone-only {
      max-height: 250px;
    }

    @include for-tablet-landscape-up {
      width: auto !important;
    }

    &__image {
      width: 100%;
    }
  }
}
