.slider-six-steps-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  &__content {
    @include block-width(337);

    position: relative;
    top: -50px;
    padding-bottom: 125px;

    @include for-phone-only {
      width: 100%;
      top: 0;
      padding-bottom: 0;
    }
  }

  &__number {
    margin-bottom: 22px;
    font-family: "YesevaOne";
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
  }

  &__info-title {
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 23px;
  }

  &__text {
    font-size: 15px;
    line-height: 25px;
  }

  &__image {
    @include block-width(805);

    align-self: flex-start;
    max-height: 421px;
    overflow: hidden;

    @include for-phone-only {
      width: 100%;
      margin-top: 30px;
    }

    @include for-desktop-up {
      position: relative;
      top: 75px;
    }
  }
}
