.social-promo-lists {
  @include clear-list;

  display: none;
  padding: 50px 0;

  @include for-desktop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6.05%;
    background-color: $black-background;
  }

  &__item {
    position: relative;
    min-height: 135px;
    padding-bottom: 51px;
    margin-bottom: 20px;
    writing-mode: vertical-lr;
    overflow: hidden;

    &::after {
      content: "";
      display: inline-block;
      vertical-align: baseline;
      margin-bottom: -100%;
      margin-top: 12px;
      width: 1px;
      height: 100%;
      background-color: $color-gold;
    }
  }

  &__link {
    position: relative;
    margin: 0;
    font-family: "FuturaDemiC";
    color: $color-gold;
  }
}
