.stage {
  display: flex;
  align-items: flex-start;

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    margin-right: 17px;
    border-radius: 50%;
    background-color: $color-gold;
    font-family: "YesevaOne";
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    z-index: 1;
  }

  &__text {
    margin: 0;
    font-family: "FuturaMediumC";
    font-size: 18px;
    line-height: 21px;
    color: $base-silver;

    @include for-phone-only {
      font-size: 15px;
    }

    @include to-tablet-landscape-up {
      width: 100%;
    }
  }
}
