.tabs {
  @include clear-list;

  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  @include for-phone-only {
    width: 100%;
  }

  @include for-desktop-up {
    display: block;
    width: auto;
    margin: 0;
  }

  &__item {
    margin-bottom: 15px;
    margin-right: 5%;
    word-break: break-all;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-family: "Proxima Nova";
    font-size: 20px;
    line-height: 34px;
    color: $black-title;

    &--active {
      font-weight: 600;
      border-bottom: 2px solid $color-gold;
    }

    @include for-desktop-up {
      color: #ffffff;
      font-weight: normal;

      &--active {
        color: $color-gold;
        border-bottom: 1px solid $color-gold;
      }
    }
  }


}
