.team-info {
  position: relative;

  @include to-tablet-landscape-up {
    width: 100%;
  }

  @include for-tablet-landscape-up {
    width: 40%;
  }

  @include for-desktop-up {
    width: 33.33%;
    max-width: 272px;
  }

  &::before {
    @include pos-absolute(-35px, auto, auto, -35px);

    width: 70px;
    height: 70px;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
  }

  &--manager {
    &::before {
      background: url("/src/img/idea.svg") $color-gold no-repeat center center;
    }
  }

  &--designer {
    &::before {
      background: url("/src/img/pen.svg") $color-gold no-repeat center center;
    }
  }

  &--foreman {
    &::before {
      background: url("/src/img/portfolio.svg") $color-gold no-repeat center center;
    }
  }

  &__wrapper {
    padding: 20px;
  }

  &__image-block {
    min-height: 360px;
  }

  &__data {
    position: relative;
    top: -82px;
    width: 85%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: -82px;
    z-index: 1;
    background-color: #ffffff;
    word-break: break-all;

    @include for-phone-only {
      width: 76.89%;
      margin-left: 31px;
    }
  }

  &__name {
    margin: 0;
    font-family: "YesevaOne";
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: $black-title;
  }

  &__photo {
    width: 100%;
    object-fit: cover;
  }

  &__function {
    margin: 0;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: $silver-light;
  }

  &__work-exp {
    width: 100%;
    margin-top: -22px;
    padding: 13px 19px;
    font-family: "YesevaOne";
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: $color-gold;
    color: #ffffff;
  }
}
