.types-of-repair {
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
  padding-bottom: 150px;

  @include for-phone-only {
    padding-top: 83px;
    padding-bottom: 30px;
  }

  @include to-tablet-landscape-up {
    padding-bottom: 50px;
  }
}
