.work-performed-lists {
  &__item {
    font-size: 15px;
    line-height: 25px;
    color: $silver-light;
    word-break: break-all;

    @include for-phone-only {
      font-size: 13px;
      line-height: 22px;
    }
  }
}
