.your-project {
  margin-bottom: -120px;
  padding-top: 30px;
  transition: background 0.5s linear;

  @include for-phone-only {
    background: transparent;
  }

  @include for-desktop-up {
    position: relative;
    min-height: 864px;
    padding-top: 138px;
    padding-bottom: 40px;
    margin-bottom: 0;
    background: $base-silver;

    &::before {
      @include pos-absolute;

      height: 100%;
      width: 100%;
      background: linear-gradient(109.8deg,rgba(0,0,0,.75),rgba(0,0,0,.9));
    }
  }

  &__content-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .your-project__text-title {
      width: 100%;
      margin-bottom: 40px;
      text-align: center;


      @include for-desktop-up {
        text-align: left;
        width: auto;
        max-width: 270px;
      }
    }
  }

  &__list-tabs {
    width: 100%;

    @include for-desktop-up {
      width: 30.9%;
      margin-right: 6.65%;
      z-index: 2;
    }
  }
}
