.header-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 14px;
  line-height: 16px;

  @include for-phone-only {
    padding-top: 22px;
    padding-bottom: 20px;
  }

  &__logo {
    margin-right: 25px;

    @include for-phone-only {
      margin-right:0;
    }
  }
}


