.main-nav {
  width: 60.45%;

  @include for-phone-only {
    display: block;
    width: 100%;
  }

  @include for-tablet-portrait-up  {
    display: none;
  }

  @include for-desktop-up  {
    display: block;
  }
}
