.main-footer {
  display: none;

  @include for-desktop-up {
    display: block;
    padding: 22px 0;
    background-color: $black-background;

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
