.site-navigation {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  &__item {
    margin-right: 15px;
    word-break: break-all;

    &:last-child {
      margin-right: 0;
    }

    @include for-phone-only {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-right: 0;
      background-color: $black-light;

      &::after {
        @include pos-absolute(auto, auto, 0, 50%);

        width: 100vw;
        height: 1px;
        background-color:rgba(239, 242, 239, 0.5);
        transform: translateX(-50%);
      }
    }
  }

  &__link {
    font-size: inherit;
    line-height: inherit;

    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.7);
    }

    @include for-phone-only {
      display: block;
      width: 100%;
      padding: 15px 50px;
      font-size: 17px;
      line-height: 22px;
      text-align: center;
    }
  }

  &__link--active {
    color: $color-gold;

    &:hover,
    &:focus {
      color: rgba(227, 184, 115, 0.7);
    }

    @include for-phone-only {
      background-color: $color-gold;
      font-weight: 600;
      color: #ffffff;

      &:hover,
      &:focus {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}
